<% if (title) { %>
    <div class="container-formall">
        <h1 class="form-title"><%= title %></h1>
    <%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>
    </div>
    <% } else {
      res.redirect('/')
    } %>

<div class="container-form">
<div class="form-box" id="updateinventoryBox">
<form class="editInventoryForm" id="updateForm" action="/inv/edit-inventory" method="post">
    <label for="make" class="form-label">Make:</label>
    <input type="text" id="make" name="inv_make" class="form-input" required value="<%= locals.inv_make %>">   
    <label for="model" class="form-label">Model:</label>
    <input type="text" id="model" name="inv_model" class="form-input" required value="<%= locals.inv_model %>">    
    <label for="year" class="form-label">Year:</label>
    <input type="text" id="year" name="inv_year" class="form-input" required pattern="\d{4}" title="Please enter a valid 4-digit year" value="<%= locals.inv_year %>">    
    <label for="description" class="form-label">Description:</label>
    <textarea id="description" name="inv_description" class="form-input" required><%= locals.inv_description %></textarea><br>
    <label for="image" class="form-label">Image Path:</label>
    <input type="text" id="image" name="inv_image" class="form-input" required value="<%= locals.inv_image %>" >
    <label for="thumbnail" class="form-label">Thumbnail Path:</label>
    <input type="text" id="thumbnail" name="inv_thumbnail" class="form-input" required value="<%= locals.inv_thumbnail %>" >  
    <label for="price" class="form-label">Price:</label>
    <input type="text" id="price" name="inv_price" class="form-input" required pattern="\d+(\.\d{2})?" title="Please enter a valid price" value="<%= locals.inv_price %>">
    <label for="miles" class="form-label">Miles:</label>
    <input type="text" id="miles" name="inv_miles" class="form-input" required pattern="\d+" title="Please enter a valid integer" value="<%= locals.inv_miles %>">  
    <label for="color" class="form-label">Color:</label>
    <input type="text" id="color" name="inv_color" class="form-input" required value="<%= locals.inv_color %>">   
    <label for="classificationList">Classification:</label>
    <%- classificationList %>   
    <input type="submit" value="Update Vehicle" class="form-submit" disabled>
    <input type="hidden" name="inv_id"<% if(locals.inv_id) { %> value="<%= locals.inv_id %>"<% } %>>
</form>
</div>
</div>
<script src="../../js/inv-update.js"></script>

